<div id='back-link'></div>
<div id="exchanges"></div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $( document ).ready( function() {
      Sayings.init( <%== @exchanges.to_json %>, <%== current_user.to_json %> );
      //window.location = '<%= "/#e/#{@exchanges.first.id}" %>'
    } );
  <% end %>
<% end %>
