<!DOCTYPE html>
<html>
<head>
  <title>Sayings</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="nav">
      <div id='account'>
      </div>
    </div>
    <div id="main">
      <div id="header">
        Decomposite
	      <div id="notice"><%= notice %></div>
      	<div id="alert"><%= alert %></div>
      </div>
      <div id='user'></div>

      <%= yield %>
    </div>
    <div id="sidebar">
      <ul>
        <li><%= link_to "link 1" %></li>
        <li><%= link_to "link 2" %></li>
        <li><%= link_to "link 3" %></li>
        <li><%= link_to "link 4" %></li>
        <li><%= link_to "link 5" %></li>
        <li><%= link_to "link 6" %></li>
        <li><%= link_to "link 7" %></li>
        <li><%= link_to "link 8" %></li>
      </ul>
    </div>
    <div id="footer">
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
