<!DOCTYPE html>
<html>
<head>
  <title>Sayings</title>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/uab3uxn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="nav">
    </div>
    <div id="main">
      <div id="header">
        <h1>Decomposite</h1>
        <div id='account'>
          <a href='#' id='show-about-text'>about</a>
        </div>
      </div>

      <div id='about-text'>
        <h2>Welcome to Decomposite!</h2>
        <p>Decomposite is a site for exchanging ideas. It is a work in progress, so please excuse any mess.</p>
        <h3>EXCHANGES</h3>
        <p>The focus here is one-on-one exchanges. Each exchange is between two users only, ideally two users on opposite sides of an issue. Any user can comment on any entry in an exchange, and, if the author of the entry finds a comment interesting, he or she can begin a new exchange with the commenter.</p>
        <h3>ACCOUNTS</h3>
        <p>Accounts are as simple as possible. All you need is a username and password. No email is required, so if you lose your password, there is no recourse. You must create a new account. Create as many accounts as you like. Simply enter a username and password in the above form and if the username is available, you will be signed in. Sign in to an existing account using the same form, using your existing username and password.</p>
      </div>

      <div id='back-link'></div>
      <div id='exchanges'>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    $( document ).ready( function() {
      Sayings.init( <%== Rabl::Renderer.json current_user_session, 'user_sessions/show' %> );
    } );
  <% end %>
</body>
</html>
